.note-window{
    padding: 1.5rem;
    overflow: auto;
    height: 100%;
    padding-bottom: 10rem;
    font-size: 1.1rem;
    background-color: #272525;


    .pre{
        background-color: transparent !important;
    }
}