.window{
    height: 500px;
    width: 500px;
    background-color: black;
.nav{
    .dot{
        height: 5px;
        width: 5px;
        background: #dd9797;
        border-radius: 50%;
    }
}


}