.dock{
    display: flex;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(61, 67, 176, 0.505);
    padding-inline: 1rem;
    padding-block: .75rem;
    border-radius: 0.75rem;
}

.icon{
    padding: 0.65rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio:  1/1;
}