.dock{
    display: flex;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(61, 67, 176, 0.514);
    padding-inline: 1rem;
    padding-block: .75rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);
}

.icon{
    padding: 0.65rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio:  1/1; 
}

.github{
    background-color: rgb(6, 6, 6);
}
.cli{

}
.note{
    background: linear-gradient(to bottom,rgb(245, 140, 140), rgb(227, 24, 24))

}

.calemder{

}

.link{

}

.mail{

}
.pdg{
    background-color: red($color: #000000);
}

.spotify{

}